h1 {
    text-align: center;
    color: #0F8FFF;
    text-decoration: underline;
    margin-top: 3%;
    font-size: 3rem;
}

.buscar {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    font-weight: bold;
}

th {
    vertical-align: center;
}

.enviar {
    width: 80px;
    height: 30px;
    text-align: center;
    font-size: 13px;
    padding-top: -5px;
}

.editar {
    width: 85px;
    height: 30px;
    font-size: 13px;
}

.search {
    margin-top: 10%;
    border: solid 2px skyblue;
}

h3 {
    text-decoration: underline;
}

.display {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 8%;
}

label {
    font-size: 13px;
    margin-bottom: -2%;
    color: #006583;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.inputEdit {
    padding: 20px;
    font-size: 15px;
}

.note {
    background-color: #008DB6;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 2px;
}

h6 {
    font-size: 21px;
    margin-top: 0%;
    margin-left: -37%;
    text-decoration: underline;
    color: #006583;
}

/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.9.5 - 2014-12-12T16:07:20.859Z
 * License: MIT
 */


/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}

/* Select2 theme */

/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
    border-color: #D44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked > .select2-search-choice-close{
  display:none;
}

.select-locked > .ui-select-match-close{
    display:none;
}

/* Selectize theme */

/* Helper class to show styles when focus */
.selectize-input.selectize-focus{
  border-color: #007FBB !important;
}

/* Fix input width for Selectize theme */
.selectize-control > .selectize-input > input {
  width: 100%;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Mark invalid Selectize */
.ng-dirty.ng-invalid > div.selectize-input {
    border-color: #D44950;
}


/* Bootstrap theme */

/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-select-bootstrap > .ui-select-match {
  /* Instead of center because of .btn */
  text-align: left;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: .3em;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important; /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item{
  outline: 0;
}

.ui-select-bootstrap .ui-select-choices-row>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>a:hover, .ui-select-bootstrap .ui-select-choices-row>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>a,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>a {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950;
}

.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
  display: block;
}

.shadow {
    box-shadow: 5px 5px 50px 50px;
}

.labForm {
    font-size: 14px;
    font-weight: 400;
    font-family: verdana;
}

.labWork{
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Open Sans', sans-serif; 
  font-size: 15px;
}

.tableW{
  padding: 30px;
}

.tdWork {
  font-family: 'Baloo Paaji 2', cursive;
  color: #000000;
  font-size: 15px;
}

.file {
  cursor:crosshair;
  width: 123%;
}
