<div class="bckg-form">
  <div class="row" style="margin-top: 3%">
  <div class="col-md-2 "></div>
  <div class="col-md-2 ">
    <h3>Cliente ></h3> 
  </div>
  <div class="col-md-2" style="margin-left: -70px;"><h3>{{cliente.nombre}} ></h3></div>
  <div class="col-md-3"><p style="color: #006583; font-size: 27px; margin-top: -3px;">Añadir Trabajo</p></div>
  <div class="col-md-3"></div>
  </div>
<div class="row" style="margin-top:3%; margin-left:6%;">
	<div class="col-md-1"></div>
	<div class="col-md-3 ">
    <label class="labForm" style="margin-bottom: -15px">Estado trabajo</label>
	<ui-select ng-model="selected.value" theme="bootstrap" style="margin-top: 22px; text-align: center;" class="shadow">
    <ui-select-match placeholder={{cliente.estado}}>{{$select.selected.value}}</ui-select-match>
    <ui-select-choices repeat="(value,x) in workState track by $index">
    <div ng-bind="x.value"></div>
    </ui-select-choices>
  </ui-select>
	</div>
    <div class="col-md-2" style="margin-left: 30px;">
    <label class="labForm" style="margin-bottom: -15px">Archivo CorelDraw</label>
    <input class="file input-group-text" type="file" name="factura" style="margin-top: 14%;"></div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
    <label class="labForm" style="margin-bottom: -15px">Archivo facturación</label>
    <input class="file input-group-text" type="file" name="factura" style="margin-top: 14%;"></div>
    <div class="col-md-3"></div>
</div>

<div class="row " style="margin-top:3%; margin-left:6%;">
    <div class="col-md-1 "></div>
    <div class="col-md-3 ">    
    <label class="labForm">Numeración inicial</label>
	<input type="number " ng-value='cliente.numInicio' class="form-control text-center search shadow" ng-model="formObj.numInicio"></div><br>
    <div class="col-md-3 ">
    <label class="labForm">Numeración final</label>
    <input type="number " ng-value='cliente.numFinal' class="form-control text-center search shadow" ng-model="formObj.numFinal"></div><br>
    <div class="col-md-3 ">
    <label class="labForm">Papel</label>
  <ui-select ng-model="selected3.value" theme="bootstrap" style="margin-top: 22px; text-align: center;" class="shadow" >
    <ui-select-match placeholder={{cliente.papel}}>{{$select.selected.value}}</ui-select-match>
    <ui-select-choices repeat="(value,x) in workPapel track by $index">
    <div ng-bind="x.value"></div>
    </ui-select-choices>
  </ui-select></div>
   <div class="col-md-2"></div>
</div>
<div class="row " style="margin-top:3%; margin-left:6%;">
    <div class="col-md-1 "></div>
    <div class="col-md-3 ">    
    <label class="labForm">Tipo</label>
  <ui-select ng-model="selected2.value" theme="bootstrap" style="margin-top: 22px; text-align: center;" class="shadow" >
    <ui-select-match placeholder={{cliente.tipo}}>{{$select.selected.value}}</ui-select-match>
    <ui-select-choices repeat="(value,x) in workType track by $index">
    <div ng-bind="x.value"></div>
    </ui-select-choices>
  </ui-select></div><br>
    <div class="col-md-3 ">
    <label class="labForm">Fecha ingreso</label>
    <input type="date" ng-value='cliente.fechaIngreso' class="form-control text-center search shadow" ng-model="formObj.fechaIngreso"></div><br>
    <div class="col-md-3 ">
    <label class="labForm">Fecha egreso</label>
	<input type="date" ng-value="cliente.fechaEgreso" class="form-control text-center search shadow" ng-model="formObj.fechaEgreso"></div><br>
    <div class="col-md-2"></div>
</div>
</div>

<div class="row " style="margin-top:7%; margin-left:9%;">
	<div class="col-md-1"></div>
	<div class="col-md-1"><button ui-sref="result" class="btn btn-success text-center text-light btnForm" ng-click="saveForm(formObj)">Guardar</button></div>
	<div class="col-md-1"></div>
    <div class="col-md-1"><button class="btn btn-danger text-center text-light btnForm" ui-sref="result">Cancelar</button></div><br>
    <div class="col-md-3 "></div><br>
    <div class="col-md-3 ">
	<button  class="btn btn-info text-center text-light btnForm" ng-click="listWork(cliente.id)">Ver trabajos {{cliente.nombre}}</button></div><br>
</div>

