<div class="container">
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center font-weight-bold font-italic text-primary" style="margin-bottom: 30px;">Editar cliente</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form ng-model="obj">
            <label>Nombre</label>
            <input type="text" class="form-control text-center inputEdit" style="margin-bottom:1%;" ng-value="info.nombre" ng-model="obj.nombre">
            <label>Email</label>
            <input type="email" class="form-control text-center inputEdit" style="margin-bottom:1%;" ng-value="info.mail" ng-model="obj.mail">
            <label>Dirección</label> 
            <input type="text" class="form-control text-center inputEdit" style="margin-bottom:1%;" ng-value="info.direccion" ng-model="obj.direccion">
            <label>Telefono</label>
            <input type="number" class="form-control text-center inputEdit" style="margin-bottom:1%;" ng-value="info.telefono" ng-model="obj.telefono">
            <label>RUT</label>
            <input type="number" class="form-control text-center inputEdit" style="margin-bottom:1%;" ng-value="info.rut" ng-model="obj.rut">

            <button class="btn btn-success display" ng-click="ngDialogData.confirm(obj)">Guardar</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

</div>

