<div class="row">
    <div class="col-md-12">
        <h3 class="text-center font-weight-bold font-italic text-primary" style="margin-bottom: 30px;">Agregar Cliente</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form>
            <input type="text" placeholder="Razón social" class="form-control text-center" style="margin-bottom:1%;" ng-model="obj.nombre">
            <input type="email" required="@" placeholder="Correo electrónico" class="form-control text-center" style="margin-bottom:1%;" ng-model="obj.mail">
            <input type="text" placeholder="Dirección" class="form-control text-center" style="margin-bottom:1%;" ng-model="obj.direccion">
            <input type="number" placeholder="Teléfono" class="form-control text-center" style="margin-bottom:1%;" ng-model="obj.telefono">
            <input type="number" placeholder="RUT" class="form-control text-center" style="margin-bottom:1%;" ng-model="obj.rut">

            <button class="btn btn-success" ng-click="ngDialogData.confirm(obj)" style="margin-right: auto;margin-left: auto; display: block; margin-top: 10%;" ui-sref="result">Guardar cliente</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>