<div class="row" style="margin-top: 5%">
    <div class=" col-md-2 "></div>
    <div class="col-md-8 ">
        <h1>{{title}}</h1>
    </div>
    <div class="col-md-2 "><button class="btn btn-outline-danger" ng-click="newClient()">Nuevo cliente</button></div>
</div>

<div class="row " style="margin-top:3%; ">
    <div class="col-md-1 "></div>
    <div class="col-md-2 "><input type="text " ng-model='nombre' placeholder="Buscar razón social " class="form-control text-center search "></div><br>
    <div class="col-md-2 "><input type="text " ng-model='mail' placeholder="Buscar @mail " class="form-control text-center search "></div><br>
    <div class="col-md-2 "><input type="text " ng-model='direccion' placeholder="Buscar dirección " class="form-control text-center search "></div><br>
    <div class="col-md-2 "><input type="number " ng-model='telefono' placeholder="Buscar teléfono " class="form-control text-center search "></div><br>
    <div class="col-md-2 "><input type="number " ng-model='rut' placeholder="Buscar RUT " class="form-control text-center search "></div><br>
    <div class="col-md-1 "></div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <table class="table table-striped " id="tabla1">
            <p class="note">{{action}}</p>
            <thead>
                <tr>
                    <th>ID Cliente</th>
                    <th>Razón social</th>
                    <th>Correo electrónico</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>RUT</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in resultados| toArray | filter:{nombre, mail, direccion, telefono, rut} ">
                    <td>{{x.id}}</td>
                    <td>{{x.nombre}}</td>
                    <td>{{x.mail}}</td>
                    <td>{{x.direccion}}</td>
                    <td>{{x.telefono}}</td>
                    <td>{{x.rut}}</td>
                    <td ng-controller="formCtrl" ng-click="form(x.id)" ui-sref="resultForm"><svg class="bi bi-card-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
                      <path fill-rule="evenodd" d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                      <circle cx="3.5" cy="5.5" r=".5"/>
                      <circle cx="3.5" cy="8" r=".5"/>
                      <circle cx="3.5" cy="10.5" r=".5"/>
                    </svg></td>
                    <td><button value="Editar " class="btn btn-primary enviar" ng-click="edit(x)">Editar</button></td>
                    <td><button value="Eliminar " class="btn btn-danger editar " ng-click="delete(x)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
