<div class="container">
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center font-weight-bold font-italic text-primary" style="margin-bottom: 30px;">Trabajos</h3>
    </div>
</div>

<div class="row">
    <table class="col-md-12 tableW table table-striped">
        <thead>
            <tr>
                <th class="labWork"></th>
                <th class="labWork">Tipo</th>
                <th class="labWork">Estado</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, work) in works">
                <td></td>
                <td class="tdWork">{{work.tipo}}</td>
                <td class="tdWork">{{work.estado}}</td>
                <td><img style="width: 25px; height: 20px;" src="https://i0.pngocean.com/files/233/860/837/coreldraw-logo-cdr-adobe-illustrator-icon-free-corel-draw.jpg"></td>
                <td><svg class="bi bi-file-earmark-ruled" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M13 9H3V8h10v1zm0 3H3v-1h10v1z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M5 14V9h1v5H5z" clip-rule="evenodd"/>
                  <path d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z"/>
                  <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z"/>
                </svg></td>
                <td><svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
                </svg></td>
            </tr>
        </tbody>
    </table>
</div>

</div>

